:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --blue: #0d6efd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest);
    padding: 10px 20px;
  }

body {
    margin: 0;
}

.navbar-brand {
    flex: 1;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    display: flex;
    float: left;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--light);
}

.navbar-brand::after {
    content: "|";
    margin-left: 15px;
    color: var(--light);
}

.collapse {
    display: flex;
}

.navbar-nav {
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 1.2rem;
}

.nav-item a {
    color: var(--light);
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: red; 
}

.login-container {
    position: absolute;
    right: 20px;
}

.btn {
    line-height: 1.5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.325rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.btn-primary {
    color: var(--light);
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-nav {
    line-height: unset;
    border: unset;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    transition: unset;
}

.desktop-img {
    display: block;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.lead {
    margin-top: 20px;
}

.header-text {
    color: gray;
}

.btn-home {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}

.btn-login {
    position: absolute;
    left: 50%;
}

.register-link {
    margin-left: 50px;
}

.about-header {
    text-align: left;
    margin-left: 50px;
}

.about-text {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2%;
    grid-gap: 0;
    grid-auto-rows: min-content;
}

.pokemon-container {
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.pokemon-container img {
    max-width: 75%;
}
.pokemon-number {
    display: block;
    font-size: 12px;
    font-weight: bold;

}
.pokemon-name {
    display:block;
    font-size: 10px;
}

.grayscale {
    filter: grayscale(100%);
}