{% extends 'checklist/base.html' %}

{% block content %}
  <h1>About the Pokédex Tracker</h1>
  <p>This web app is designed for Pokémon collectors who want to keep track of which Pokémon they still need to catch without having to constantly access the in-game Pokédex. With this app, all the necessary information is presented in one page, making it easy to keep track of your collection.</p>
  <p>I created this project as a way to showcase my development skills while pursuing my passion for Pokemon. While this project is still a work in progress, I hope to continue building upon it in the coming weeks and months as a personal hobby project.</p>
  <p>Feedback/Github link here</p>
{% endblock %}