{% extends 'checklist/base.html' %}

{% block title %}Checklist | Pokémon Checklist{% endblock %}

{% block content %}
  <h1>Pokémon Checklist</h1>
  <form method="post" id="pokemon-form">
    <div class="pokemon-list">
      {% if user.is_authenticated %}
      {% csrf_token %}
        {% for user_pokemon in user_pokemon_list|slice:":50" %}
          <div class="pokemon-container {% if user_pokemon.completed %}grayscale{% endif %}">
            <img src="{{ user_pokemon.pokemon.image.url }}" alt="{{ user_pokemon.pokemon.name }}">
            <span class="pokemon-number">#{{ user_pokemon.pokemon.number }}</span>
            <span class="pokemon-name">{{ user_pokemon.pokemon.name }}</span>
            <input type="checkbox" name="{{ user_pokemon.id }}" value="True" {% if user_pokemon.completed %}checked{% endif %}>
          </div>
        {% endfor %}
      <button type="submit">Save</button>
      {% else %}
        {% for pokemon in user_pokemon_list %}
          {% if forloop.first or forloop.counter0|divisibleby:30 %}
          <div class="pc-box">
            <h2 class="pc-box-header">BOX {{ forloop.counter }}-{{ forloop.counter|add:'29' }}</h2>
            <div class="pokemon-container-group">
          {% endif %}
          <div class="pokemon-container {% if pokemon.completed %}grayscale{% endif %}">
            <img src="{{ pokemon.image.url }}" alt="{{ pokemon.name }}">
            <span class="pokemon-number">#{{ pokemon.number }}</span>
            <span class="pokemon-name">{{ pokemon.name }}</span>
            <input type="checkbox" name="{{ pokemon.id }}" value="True" {% if user_pokemon.completed %}checked{% endif %}>
          </div>
          {% if forloop.counter|divisibleby:30 or forloop.last %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </form>
{% endblock %}