{% extends 'checklist/base.html' %}

{% block content %}
<h1>Pokémon Checklist</h1>
<p class="lead text-muted">This tracker is specifically designed for Pokemon collectors to keep a record of their entire collection. It helps you to conveniently and accurately track the details of your Pokemon collection.</p>
<p>Goal is to sync with cloud automatically and ability to access dex from any device.</p>
<p>
    <a href="{% url 'checklist' %}">
        <button class="btn btn-primary">Get started here</button>
    </a>
</p>
{% endblock %}