{% extends 'checklist/base.html' %}
{% load static %}
{% block title %}Pokémon Checklist{% endblock %}
{% block content %}
<h1>Pokémon Checklist</h1>
<p class="lead header-text">This tracker is specifically designed for Pokemon collectors to keep a record of their entire collection. It helps you to conveniently and accurately track the details of your Pokemon collection.</p>
<p class="lead">Goal is to sync with cloud automatically and ability to access dex from any device.</p>
<a href="/checklist/">
    <button class="btn btn-primary btn-home">Get started here</button>
</a>
<img class="desktop-img" src="{% static 'img/sample.png' %}">
{% endblock %}