{% extends 'checklist/base.html' %}

{% block content %}
<h1>Pokemon List</h1>
<form method="POST" action="{% url 'mark_pokemon' %}">
  {% csrf_token %}
  <ul>
    {% for pokemon in object_list %}
      <li>
        <div class="pokemon-container">
          <img class="pokemon-image" img src="{{ pokemon.image.url }}" alt="{{ pokemon.name }} image">
          <div class="pokemon-info">
            <input type="checkbox" name="pokemon" value="{{ pokemon.pk }}" {% if pokemon.completed %}checked{% endif %}>
            <span class="pokemon-number">{{ pokemon.number }}</span>
            <span class="pokemon-name">{{ pokemon.name }}</span>
          </div>
        </div>
      </li>
    {% empty %}
      <li>No Pokemon found.</li>
    {% endfor %}
  </ul>
  <button type="submit">Mark Complete</button>
</form>
{% endblock %}